[build]
builder = "nixpacks"

[deploy]
startCommand = "npx prisma migrate deploy && npm run start"
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
